@{
    bool auth = Context.Session.GetString("Login") is null ? false : true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SPNR_Web</title>
    <script src="https://cdn.tiny.cloud/1/lz4830cwgnkpab016qu1dnotbw5anpsz5if1kezsr3vrob7i/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SPNR_Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">SPNR_Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Домой</a>
                        </li>
                        @if (auth) {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="constructor" asp-action="event">Добавить ивент</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="constructor" asp-action="news">Добавить новость</a>
                            </li> 
                        }
                    </ul>
                </div>
                <div class="nav-auth" align="right">
                    <ul class="navbar-nav flex-grow-1">
                        @if (auth)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="auth" asp-action="logout">Выйти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="auth" asp-action="UserPanel">Пользователи</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="auth" asp-action="login">Войти</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        <partial name="_Toastr" />
        @RenderBody()
    </main>

    <footer class="footer text-center py-3" style="background-color:#0067b1; line-height:10px; color: white;position:absolute;bottom: 0">
        <div style="display: none">
            <p>Адрес: Кампус ДВФУ, о. Русский, Владивосток, Россиия</p>
            <p>Контакты: example@example.com</p>
            <p>Телефон: +7 123 456 789</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
