@model SPNR_Web.Models.DataBase.User

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #f2fafe;
    }

    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the card */
        margin-top: 20px; /* Add spacing at the top of the card */
    }

    .btn-register {
        margin-top: 15px; /* Add spacing at the top of the register button */
    }

    .form-group {
        margin-bottom: 15px;
    }

</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center" style="color: #4a4a4a">Добавить пользователя</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Login" class="control-label" style="color:#4a4a4a">Username:</label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label" style="color:#4a4a4a">Password:</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block btn-register">Зарегистрировать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
