@model SPNR_Web.Models.DataBase.News

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="News" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublicationTime" class="control-label"></label>
                <input asp-for="PublicationTime" class="form-control" data="@Model.PublicationTime" />
                <span asp-validation-for="PublicationTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" data="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ImgPath" type="hidden" />
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" data="@Model.Description"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                @{
                    if (Model.Id != Guid.Empty)
                    {
                        <a asp-controller="Constructor" asp-action="NewsDelete" asp-route-id="@Model.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
                    }
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

